@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 300%;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.nav img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: auto;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    width: auto;
    margin-left: 0;
    margin-right: 100px;
}

.nav ul li {
    position: relative;
    list-style: none;
    width: auto;
    height: 50px;
    margin-right: 100px;
}

.nav ul li:last-child {
    margin-right: 2px;
}

.nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.nav ul li a .icon {
    position: relative;
    color: rgb(0, 0, 0);
    display: block;
    line-height: 40px;
    font-size: 30px;
    gap: 3px;
    text-align: center;
    transform: translateY(0);
}

.nav ul li:hover a .icon {
    transform: translateY(-10px);
}

.nav ul li a .text {
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(0px);
}

.nav ul .shop-icon {
    margin-left: 10px;
}

.nav ul .home-icon {
    margin-left: 10px;
}

.nav ul li:hover a .text {
    opacity: 1;
    transform: translateY(20px);
}

.nav-link {
    margin-bottom: 50px;
}

.bgimg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/background/coverimg.jpg");
    filter: blur(2px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.gallery-photos {
    text-align: center;
}

.gallery-photos {
    margin-top: 170px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.wildlife {
    margin-top: 10px;
    margin-left: 1px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.wildlife .overlay-text {
    color: white;
    text-align: center;
}

.forests {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}


.forests .overlay-text {
    color: white;
    text-align: center;
}

.mountain-ranges {
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.mountain-ranges .overlay-text {
    color: white;
    text-align: center;
}

.desert {
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.desert .overlay-text {
    color: white;
    text-align: center;
}

.wildlife:hover,
.forests:hover,
.mountain-ranges:hover,
.desert:hover {
    transform: scale(1.2);
    /* Scale up on hover */
    box-shadow: 0 0 10px rgba(130, 124, 124, 0.5);
    /* Add box-shadow on hover */
}

.overlay-text {
    transition: opacity 1s ease;
    /* Smooth transition for opacity change */
    opacity: 0;
    /* Initially hide overlay text */
}

.wildlife:hover .overlay-text,
.forests:hover .overlay-text,
.mountain-ranges:hover .overlay-text,
.desert:hover .overlay-text {
    opacity: 3;
    /* Show overlay text on hover */
}